.cascade-item {
    width: 250px;
    margin: 2px;
    float: left;
    cursor: pointer;
}

.cascade-item ul {
    list-style: none outside none;
    padding-left: 0;
    margin-bottom:0;
}
.cascade-item li {
    display: block;
    float: left;
    margin-right: 6px;
    cursor:pointer;
}
.cascade-item img {
    display: block;
    height: auto;
    max-width: 100%;
}

.slide-img {
    margin: 1px;
    padding: 0px;
}


/* common */
body {
    padding-top: 70px;
    padding-bottom: 30px;
}

a{
    font-family: arial;
    color: #262626;
    cursor: pointer;
}

a:hover{
    color: #4F8EBD;
    text-decoration:none;
    cursor: pointer;
}


/* nav bar */
.navbar{
    background-color: #262626;
}

.navbar-fixed-top {
    height: 50px;
}

.navbar .imglogo{
    margin-left:83px;
}

/* page info */
.breadcrumb{
    background-color: white;
    border-bottom: 1px solid #7F7F7F;
    border-radius: 0px;
}

.breadcrumb a{
    color: #4F8EBD;
}

.breadcrumb li.active{
    color: #7F7F7F;
}

/* famous photos */
#text h1{
    font-size: medium;
    margin-left:30px;
    color: #262626;
}

.page-header{
    text-align: center;
    font-size: medium;
    border-bottom: 0px;
}
